body {
    background: #eee;
    font-family: sans-serif;
    font-size: x-large;
}
.content-container {
    display: inline;
    padding: 2em;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    min-width: 20%;
    min-height: 50%;
}
.content-container h1 {
    margin: 0;
    color: #333;
    font-size: xx-large;
    text-align: center;
}
.content-container hr {
    border: none;
    border-top: 1px solid rgba(0,0,0,0.2);
}